/* #56CC9D success */
/* #6CC3D5 info */
/* #FFCE67 warning */
/* #ffc64e warning:hover*/
/* #78C2AD primary*/
/* #66baa2 primary-hover */
/* #f8f9fa light */
/* #e9ecef light:hover*/
/* background-color: rgba(0, 0, 0, 0.075) active*/

ul {
    padding: 0;
    margin:0;
}

.page-wrapper {
    margin: 2rem;
}

.toggle-planet-btn {
    margin-bottom: 2rem;
}